@import 'reset.css';

:root {
  --primary-color: #ef4444;
  --secondary-color: #2f2c3d;
  --text-dark: #3a4052;
  --text-light: #64748b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

#home {
  padding-top: 144px;
  /* background-image: url('/img/4.png'); */
}

/* Styling container */
#home .container,
#services .container,
header .container,
#contact .container,
footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
/* End */

/* Styling home section */
#home .sub-container {
  display: flex;
  flex-wrap: wrap;
}

#home .headline,
#home .sub-headline {
  width: 100%;
  padding: 0 16px;
  align-self: center;
  box-sizing: border-box;
}

#home .headline h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 6px;
}

#home .headline h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

#home .headline p {
  font-weight: 200;
  line-height: 26px;
  margin-bottom: 24px;
}

#home .headline a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 38px 12px 20px;
  background-color: #ef4444;
  text-decoration: none;
  border-radius: 50px;
}

#home .sub-headline {
  align-self: flex-end;
}

#home .sub-headline div img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* End */

/* Padding top n bottom section (without home) */
#services,
#gallery,
#contact {
  padding-top: 114px;
  padding-bottom: 64px;
}
/* End */

/* Styling services section*/
#services .container .service-header,
#services .container .service-items {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

#services .service-items {
  max-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}
/* End styling services section */

/* Styling Gallery section */
#gallery {
  background-color: var(--secondary-color);
}

#gallery .gallery-items {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 15px 0px;
}

#gallery .gallery-item {
  width: 150px;
  height: 200px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.43);
  overflow: hidden;
  transition: all 0.3s ease;
}

#gallery .gallery-item:hover {
  transform: scale(0.95);
}

#gallery .gallery-item img {
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

#gallery .gallery-item img:hover {
  transform: scale(1.25) rotate(7deg);
}
/* End */

/* Styling Contact Styling */
#contact .container .contact-detail-item {
  width: 100%;
}

#contact .contact-map {
  display: flex;
  justify-content: center;
}

#contact iframe {
  display: inline-block;
  max-width: 100%;
}

#contact .container .input-group {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

#contact .container .input-group label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #ef4444;
}

#contact .container .input-group input,
#contact .container .input-group textarea {
  width: 100%;
  background-color: #e2e8f0;
  color: #0f172a;
  padding: 12px;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

#contact .container .input-group button {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  background-color: #ef4444;
  padding: 12px 32px;
  border-radius: 50px;
  border: none;
}
/* End */

/* Styling Header */
header {
  /* background-color: transparent; */
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(5px);
  /* box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.2); */
  background-color: rgba(255, 255, 255, 0.6);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container div > a {
  display: inline-block;
  color: #ef4444;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 24px 0;
  text-decoration: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: black;
}

header .container nav ul li a:hover {
  color: #ef4444;
}

/* End */

/* Styling Footer */
footer {
  background-color: #0f172a;
  padding: 24px 0;
}

footer .container {
  width: 100%;
}

footer .container .content-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container .content-footer div {
  padding: 10px 0;
}

footer .content-footer div:nth-child(1) {
  width: 100%;
  color: #64748b;
  font-size: 14px;
  line-height: 1.6;
}

footer .content-footer div:nth-child(2),
footer .content-footer div:nth-child(3) {
  width: 50%;
}

footer .content-footer div:nth-child(2) a,
footer .content-footer div:nth-child(3) a {
  color: #64748b;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer .content-footer div:nth-child(2) a:hover,
footer .content-footer div:nth-child(3) a:hover {
  color: white;
}

footer .container .copyright {
  border-top: 1px solid #64748b;
}

/* End */

/* Breakpoints */
@media (max-width: 767px) {
  /* Menu Toggle */
  header .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 20px;
    z-index: 2;
  }

  header .menu-toggle input {
    width: 26px;
    height: 28px;
    position: absolute;
    left: -4px;
    top: -6px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    width: 26px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    transition: all 0.5s;
  }

  header .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }

  header .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }

  header .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: #ef4444;
    transform: rotate(48deg) translate(0, -1px);
  }

  header .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  header .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: #ef4444;
    transform: rotate(-50deg) translate(0, 1px);
  }

  header .container nav ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgba(47, 46, 61, 1);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  header .container nav ul li a {
    text-decoration: none;
    color: white;
  }

  header nav ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  #home .container,
  #services .container,
  header .container,
  #contact .container,
  footer .container {
    max-width: 768px;
  }

  #home .headline,
  #home .sub-headline {
    width: 50%;
  }

  #contact .contact-detail .contact-map {
    text-align: center;
  }

  header .container nav .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  header .container nav ul {
    display: flex;
    column-gap: 60px;
  }

  footer .container .content-footer {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1280px) {
  #home .container,
  #services .container,
  header .container,
  #contact .container,
  footer .container {
    max-width: 1024px;
  }

  #home .sub-headline div {
    position: relative;
    right: 0;
  }

  #contact .container .contact-detail {
    width: 100%;
    display: flex;
  }

  #contact .contact-detail .contact-form,
  #contact .contact-detail .contact-map {
    width: 50%;
  }
}
